<% content_for :title, "Sign in" %>
<div class="max-w-md mx-auto">
  <div class="text-left max-w-sm mb-6">
    <h1 class="text-2xl tracking-tight mb-4">Welcome!</h1>
    <p class="text-md text-stone-400 dark:text-white/50 -mt-2 mb-4">ClawDeck uses email-based authentication. Enter your email address to get started or log back in.</p>
   </div>
  <%= form_with url: session_url, class: "space-y-2 font-normal mb-6", html: { autocomplete: "off" } do |form| %>
    <div class="isolate -space-y-px rounded-md">
      <div class="relative bg-white dark:bg-white/5 rounded-md px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-stone-200 dark:ring-white/20 focus-within:z-10 focus-within:ring-1 focus-within:ring-stone-400 dark:focus-within:ring-stone-300">
        <%= form.label :email_address, "Email", class: "block text-xs font-medium text-stone-500 dark:text-white/50" %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: "name@domain.com", value: params[:email_address], class: "block w-full border-0 p-0 text-stone-900 dark:text-stone-100 placeholder:text-stone-400 dark:placeholder:text-white/30 focus:ring-0 text-sm leading-6" %>
      </div>
    </div>
    <div class="pt-3 font-medium flex items-center gap-1">
      <%= form.submit "Send verification code", class: "cursor-pointer inline-flex items-center space-x-2 p-3 bg-purple-600 dark:bg-white text-white dark:text-stone-900 rounded-sm hover:bg-purple-500 dark:hover:bg-stone-200 hover:text-white dark:hover:text-stone-900 transition-colors duration-200 text-xs font-semibold" %>
    </div>
  <% end %>
</div>
