version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm_and_yarn"
    directory: "/"
    schedule:
      interval: "weekly"
