<% content_for :title, "New Workflow" %>
<% content_for :breadcrumb_standalone, "New Workflow" %>

<div class="mt-8 max-w-3xl">
  <h1 class="text-lg font-semibold text-content font-display mb-4">New Workflow</h1>
  <%= render "form", workflow: @workflow %>
</div>
