<div id="<%= dom_id project %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= project.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= project.url %>
  </div>
</div>
