<% content_for :title, "Settings - #{@project.title}" %>
<% @breadcrumb_project = @project %>
<% content_for :breadcrumb_suffix, "Settings" %>
<div class="w-full">
  <%= render "form", project: @project %>
</div>
