<%= turbo_stream.replace "task_list_#{@task_list.id}" do %>
  <%= render "task_lists/task_list", task_list: @task_list, project: @project %>
<% end %>

<%= turbo_stream.append "task-lists" do %>
  <div class="fixed top-4 left-1/2 -translate-x-1/2 z-[100] pointer-events-none">
    <div data-controller="flash" class="py-1.5 px-3 bg-lime-50 dark:bg-lime-900/30 text-lime-600 dark:text-lime-400 text-xs font-medium rounded-md transition-opacity duration-500 shadow-sm whitespace-nowrap" role="alert">
      Changes saved
    </div>
  </div>
<% end %>

