<div class="w-full flex flex-col items-center">
  <% if notice.present? %>
    <div data-controller="flash" class="py-2 px-3 bg-lime-50 mb-5 text-lime-500 font-medium rounded-md transition-opacity duration-500" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div data-controller="flash" class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-md transition-opacity duration-500" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>
